<section class="hero">
    <div class="left-section">

        <div class="card-container">
            <div class="profile-card ">
                <img src="{{ImgProfile}}" alt="Profile">
                <h2>Iranna K.<br>Hangnalli</h2>
                <hr>
                <span>BSC COMPUTER <br> SCIENCE</span>
            </div>
            <div class="card-footer">

                <i class="fab fa-facebook-f fa-sm white"><a href="/"></a></i>

                <i class="fab fa-twitter fa-sm white"><a href="/"></a></i>

                <i class="fab fa-linkedin-in fa-sm white"><a href="/"></a></i>

                <i class="fab fa-instagram fa-sm white"><a href="/"></a></i>
            </div>
        </div>
    </div>

    <div class="right-section">
        <h1>Hello</h1>
        <h4>I'm Iranna, a Computer Science student</h4>
        <div class="btn-grp">
            <button class="primary">RESUME</button>
            <button class="secondary">PROJECTS</button>
        </div>

        <div class="hero-text">
            <p>
                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                double
                click me to add your own content and make changes to the font.
            </p>
            <p>I’m a great place for you to tell a story and let your users know a little more about you.</p>
        </div>

    </div>

</section>