<div class="resume-container">
    <div class="resume-main">

        <div class="heading">
            <div class="box"></div>
            <h1>Projects</h1>
        </div>

        <P>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double
            click me to add your own content and make changes to the font. I’m a great place for you to tell a story and
            let your users know a little more about you.
        </P>

        <div class="card">
            <div class="project-left">
                <h2 class="text-primary side-line">Project name 01</h2>
                <span>Role Title</span>
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                    double click me to add your own content and make changes to the font. I’m a great place for you to
                    tell a story and let your users know a little more about you.
                </p>
            </div>
            <div class="project-right">
                <img src="{{CardImg}}" alt="">
            </div>
        </div>
        <div class="card">
            <div class="project-left">
                <h2 class="text-primary side-line">Project name 01</h2>
                <span>Role Title</span>
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                    double click me to add your own content and make changes to the font. I’m a great place for you to
                    tell a story and let your users know a little more about you.
                </p>
            </div>
            <div class="project-right">
                <img src="{{CardImg}}" alt="">
            </div>
        </div>
        <div class="card">
            <div class="project-left">
                <h2 class="text-primary side-line">Project name 01</h2>
                <span>Role Title</span>
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                    double click me to add your own content and make changes to the font. I’m a great place for you to
                    tell a story and let your users know a little more about you.
                </p>
            </div>
            <div class="project-right">
                <img src="{{CardImg}}" alt="">
            </div>
        </div>
    </div>
</div>