<div class="footer-container">

    <div class="left-foo">
        <p>© Iranna K. Hangnalli</p>
    </div>

    <div class="right-foo">

        <div class="foo-sec">
            <p>call</p>
            <p>+91 7040831755</p>
        </div>

        <div class="foo-sec">
            <p>Write</p>
            <p>irannahanganalli8@gmail.com</p>
        </div>

        <div class="foo-sec">
            <p>Follow</p>
            <div class="icon">
                <i class="fab fa-facebook-f fa-sm white"><a href="/"></a></i>
                <i class="fab fa-twitter fa-sm white"><a href="/"></a></i>
                <i class="fab fa-linkedin-in fa-sm white"><a href="/"></a></i>
                <i class="fab fa-instagram fa-sm white"><a href="/"></a></i>
            </div>
        </div>

    </div>

</div>