nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 5em 3em 1em;
    /* border: 2px solid red; */
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

.box {
    width: 1em;
    height: 1em;
    background-color: var(--accent-col);
}

.left-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
}

.left-nav h2 span {
    font-weight: 400;
    font-size: 1rem;
}

.right-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    font-weight: 100;
    font-size: 1rem;
}

.right-nav ul li:hover {
    color: var(--accent-col);
    cursor: pointer;
}