<nav>
    <div class="left-nav">
        <div class="box"></div>
        <h2>Iranna K. Hangnalli <span>/ BSc. Computer Science</span></h2>
    </div>
    <div class="right-nav">
        <ul>
            <a routerLink="/about-me" routerLinkActive="active"> ABOUT ME</a>
            <a routerLink="/resume" routerLinkActive="active">RESUME</a>
            <a routerLink="/projectComp" routerLinkActive="active">PROJECTS</a>
            <a routerLink="/contact" routerLinkActive="active">CONTACT</a>
        </ul>
    </div>
</nav>