@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-col: #E6DACE;
    --secondary-col: #F4ECE6;
    --accent-col: #0050FF;
    --shadow: -11.31px 11.31px 25px 0px rgb(138 131 124 / 23%);
}

.box {
    width: 1em;
    height: 1em;
    background-color: var(--accent-col);
}

.text-primary {
    color: var(--accent-col);
    font-size: 1.4em;
}

.primary {
    padding: 0.5em 2.5em;
    border-radius: 200px;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--accent-col);
    color: #fff;
    border: 2px solid var(--accent-col);
    transition: ease-out .3s;
}

.primary:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid var(--accent-col);
}

.thin {
    font-size: small;
}

.mt {
    margin-top: 5em;
}

.resume-container {
    background-color: var(--primary-col);
    min-height: 100vh;
    padding: 0 2em;
}

.resume-main {
    max-width: 50em;
    margin: 0 auto;
    padding: 5em 0;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding-bottom: 5em;
}

.card {
    background-color: #fff;
    box-shadow: var(--shadow);
    margin-top: 2em;
    min-width: 60%;
}

.side-line::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 55px;
    background-color: var(--accent-col);
    left: 0;
    top: 0;
}