<div class="resume-container">
    <div class="resume-main">

        <div class="heading">
            <div class="box"></div>
            <h1>Resume</h1>
        </div>

        <div class="header-grp">
            <h2>Experience</h2>
            <button class="primary">DOWNLOAD CV</button>
        </div>

        <div class="resume-card card">

            <div class="card-left">
                <h3 class="text-primary">2019-Present</h3>
                <div class="text-wrap">
                    <span>JOB POSITION</span>
                    <p class="thin">Company Name</p>
                </div>
                <p class="thin">Company Location</p>
            </div>

            <div class="card-right">
                <p>
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                    double click me to add your own content and make changes to the font.
                </p>
                <p>
                    I’m a great place for you to tell a story and let your users know a little more about you.
                </p>
            </div>
        </div>

        <div class="resume-card card">

            <div class="card-left">
                <h3 class="text-primary">2019-Present</h3>
                <div class="text-wrap">
                    <span>JOB POSITION</span>
                    <p class="thin">Company Name</p>
                </div>
                <p class="thin">Company Location</p>
            </div>

            <div class="card-right">
                <p>
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                    double click me to add your own content and make changes to the font.
                </p>
                <p>
                    I’m a great place for you to tell a story and let your users know a little more about you.
                </p>
            </div>
        </div>

        <h2 class="mt">Education</h2>

        <div class="resume-card card">

            <div class="card-left">
                <h3 class="text-primary">2017</h3>
                <div class="text-wrap">
                    <span>GOA BOARD</span>
                    <p class="thin">SSC</p>
                </div>
                <p class="thin">Porvorim-Goa</p>
            </div>

            <div class="card-right">
                <p>
                    Completed SSC through Goa Board in the year 2017 with 72%, from Govt. Multipurpose High School.
                </p>
            </div>
        </div>

        <div class="resume-card card">

            <div class="card-left">
                <h3 class="text-primary">2017-2019</h3>
                <div class="text-wrap">
                    <span>GOA BOARD</span>
                    <p class="thin">HSSC</p>
                </div>
                <p class="thin">Porvorim-Goa</p>
            </div>

            <div class="card-right">
                <p>
                    Completed HSSC(Science) through Goa Board in the year 2019 with 60%, from Govt. Multipurpose Higher
                    Secondary School.
                </p>
            </div>
        </div>

        <div class="skill-card">
            <h2 class="">Professional skill set</h2>
            <div class="top-sec">
                <div class="skill-wrap">
                    <div class="box"></div>
                    <p>Entrepreneurial Mindset</p>
                </div>
                <div class="skill-wrap">
                    <div class="box"></div>
                    <p>Go-to-Market Planning</p>
                </div>
                <div class="skill-wrap">
                    <div class="box"></div>
                    <p>Teamwork & Collaboration</p>
                </div>
                <div class="skill-wrap">
                    <div class="box"></div>
                    <p>Digital Analytics</p>
                </div>
            </div>

            <h2 class="mt">Languages</h2>
            <div class="top-sec">
                <div class="skill-wrap">
                    <div class="box"></div>
                    <p>English</p>
                </div>
                <div class="skill-wrap">
                    <div class="box"></div>
                    <p>Kannada</p>
                </div>
                <div class="skill-wrap">
                    <div class="box"></div>
                    <p>Konkani</p>
                </div>
                <div class="skill-wrap">
                    <div class="box"></div>
                    <p>Hindi</p>
                </div>
                <div class="skill-wrap">
                    <div class="box"></div>
                    <p>Marathi</p>
                </div>
            </div>
        </div>
    </div>
</div>